common/node_modules/
default/npm-debug.log*
default/.vscode/
mobile/npm-debug.log*
common/npm-debug.log*
debug.log
node_modules
.idea/
npm-debug.log*
common/test/unit/coverage/
target/
pom*
yarn.lock
package-lock.json
sonar-project.properties
*.swp
*.swo
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
